.pageheader__room
  .pageheader__room--icon
    %a{href:"#"}
      =image_tag 'registration_new.png',class:"registration-view_icon"
  .pageheader__room--user_icon
    =image_tag 'registration_new.png',class:"registration-view_icon"
.pagebody__room
  %img{src:"assets/registration.png" , class:"img--registration"}
  .pagebody__room__leftside
    .pagebody__room__leftside--header 
      %h1.pagebody__room__leftside--header--title さあ、お部屋の掲載準備をはじめましょう。
    .pagebody__room__leftside--top
      %h4.register--font--step ステップ１
      %h2.register--font--overview 最初は基本情報から
      %p.register--font--etc ベッド数　バスルーム　アメニティなど
      %a{href:"#"}
        .button__registoration--green
          .font 続行
    .pagebody__room__leftside--middle
      %h4.register--font--step ステップ2
      %h2.register--font--overview 次に特徴をPR
      %p 写真　概要　タイトル
    .pagebody__room__leftside--bottom
      %h4.register--font--step ステップ3
      %h2.register--font--overview 予約準備を整えてフィニッシュ!
      %p 予約受付設定、カレンダー、料金
.pagefooter__room
.pagefoot__room
  .pagefoot__room--copy
    %img{src:"assets/airbnb-black_100129.png",class:"pagefoot__room--copy--icon"}
    .pagefoot__room--copy--text
      %p Airbnb Global Services Limited
      %p 観光庁長官(01)第S0001号(2018年6月15日-2023年6月14日)
      .pagefoot__room--copy--text--font 
        .pagefoot__room--copy--text--font--copymark © 
        .pagefoot__room--copy--text--font--copyright Airbnb, Inc.
