.warapper{
  padding: 0 80px 48px;
  margin-top: 90px;
  .side{
    width: 25%;
    height: 100vh;
    float: left;
    padding: 24px 20px 0 0;
    .search__box{
      border-top: 1px solid #e5e5e5;
      padding: 10px 0 15px;
      p{
        color: #c0c0c0;
      }
      input:not(.checkbox){
        width: 90%;
        height: 40px;
        text-align: center
        }
        .serch__box-room{
          width: 100%;
          @include clearfix;
          padding: 5px;
          .search__box-room-select{
            float: left;
            input.checkbox{
              height: 18px;
              width: 18px;
            }
          }
          .search__box-room-content{
            float: left;
            padding-left: 10px;
            h5{
              font-size: 18px;
            }
          }
        }
      }
    }
  .main{
    width: 75%;
    float: left;
    .sub{
      font-size: 25px;
      font-weight: bold;
    }
  }
}
